[user]
	email = 72374438+cxinu@users.noreply.github.com
	name = cxinu
	signingkey = A70D7D37BEF32810
[commit]
	gpgSign = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
